
.overlay-text {
  position: relative;
  color: #fff;
  /* padding: 0% 15%; */
  z-index: 2;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay-text>h1 {
  position: absolute;
  left: 20%;
  top: 17%;
  font-size: 3.2em;
  font-weight: bolder;
  text-transform: uppercase;
}

.overlay-text>p {
  position: absolute;
  left: 20.5%;
  top: 30%;
  font-size: 1.5em;
  font-weight: bolder;
}


/* --- Card Section Starts --- */
.card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 27%;
}

/* --- From-Left Animation --- */
.from-left {
  animation: fromLeft 2s linear;
}

@keyframes fromLeft {
  from {left:-20%; top:0;}
  to {left:0px; top:0px;}
}

#fromLeft {
  animation-timing-function:ease-in-out;
}

/* --- From-Right Animation --- */
.from-right {
  animation: fromRight 2s linear;
}

@keyframes fromRight {
  from {right:-20%; top:0;}
  to {right:0px; top:0px;}
}

#fromRight {
  animation-timing-function:ease-in-out;
}

.card-wrapper {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  width: 22%;
  height: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

.card-wrapper:hover {
  box-shadow: 5px 8px 16px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid blue;
  top: -10px;
}

.card-image {
  border-radius: 10px 10px 0 0;
  width: 200px;
  height:200px;
  object-fit: cover;
}

.card-text {
  text-align: center;
}


/* --- Icon Section Starts --- */
.icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
}

.icon-wrapper {
  position: absolute;
  /* bottom: 0; */
  width: 22%;
  height: 100px;
  width: 100px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid red;
}

.icon-image {
  border-radius: 10px 10px 0 0;
  width: 100px;
  height:100px;
  object-fit: cover;
}

