/* -- Hero Overlay -- */
.overlay-text {
  position: relative;
  color: #fff;
  /* padding: 0% 15%; */
  z-index: 2;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay-text>h1 {
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 3.2em;
  text-transform: uppercase;
}

.overlay-text>p {
  position: absolute;
  left: 26%;
  top: 40%;
  font-size: 1.5em;
  font-family: 'Cabin', sans-serif;
}

#hero-buffer>h2 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  width: 100%;
  position: absolute;
  top: 8%;
  left: 0;
  font-size: 2.5em;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(30, 67, 86, 0.1);
}

#hero-buffer>p {
  width: 100%;
  position: absolute;
  top: 15%;
  left: 0;
  font-size: 1.5em;
  font-family: 'Cabin', sans-serif;
}



/* -- Card Section -- */
#card-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  top: 30%;
  padding-top: 20px;
}

.card-wrapper {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  width: 22%;
  height: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  top: -22%;
  border-radius: 10px;
}

.card-wrapper:hover,
.icon-wrapper:hover,
#promo-wrapper:hover {
  box-shadow: 5px 8px 16px 5px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 200px;
  height:200px;
  object-fit: cover;
}


/* -- Icon Section -- */
#icon-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  margin-top: 40px;
  border-top: 1px solid rgba(30, 67, 86, 0.1);
}

.icon-wrapper {
  position: relative;
  top: -10%;
  transition: top ease 0.5s;
  height: 100px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.icon-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


/* --- Top Angled Section --- */
#top-angled-wrapper h3{
  color: #01d5ff;
}

#top-angled-wrapper li{
  color: #19c5e8;
}

#top-angled-inner {
display: flex;
align-items: center;
justify-content: center;
/* flex-direction: row; */

}

#top-angled-left {
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 40%;
}

#top-angled-right {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 40%;
  transform: translateY(-7%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#top-angled-left-top {
  height: 45%;
  background-color: rgb(19, 56, 90);
  border-radius: 10px;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 500ms ease-in;
}

#top-angled-left-bottom {
  height: 45%;
  background-color: rgb(19, 56, 90);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 5%;
}

#top-angled-left-inner {
  height: 93%;
  background-color: rgb(19, 56, 90);
  border-radius: 10px;
  margin: 5%;
}

#top-angled-left h3 {
  padding: 30px;
}



/* --- Arrow List Items --- */
#arrow {
  border-right:2px solid rgb(255,77,91);
  border-bottom:2px solid rgb(255,77,91);
  width:10px;
  height:10px;
  transform: rotate(-45deg);
  margin-top:40px;
}

ul li {
position: relative;
padding-bottom: 10px;
text-align: left;
line-height: 1.7;
}

ul {
list-style: none;
}

ul li:before{
 content: '';
 position: absolute;
 border-right:2px solid rgb(255,77,91);
 border-bottom:2px solid rgb(255,77,91);
 width:10px;
 height:10px;
 top: calc(50% - 4px);
 left: -20px;
 transform: translateY(-50%) rotate(-45deg);
}


/* --- Learn More Button --- */
.learn-more {
  background-color: rgb(255,77,91);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  transition: 500ms ease-in;
}

.learn-more:hover {
  background-color: rgb(9, 37, 64);
}

/* Right Side */
.portfolio-image-wrapper {
  position: relative;
  height: 30%;
  width: 95%;
  margin: 5px auto;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 500ms ease-in;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


/* --- Top Angled Buffer --- */
#promo-wrapper {
  display: flex;
  position: relative;
  width: 95%;
  height: 95%;
  background-color: rgb(243,248,250);
  margin: 0% auto;
  top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 500ms ease-in;
  border-radius: 10px;
}

#promo-wrapper h3{
  color: #01d5ff;
}

#promo-wrapper p{
  color: #19c5e8;
}

#inner-promo {
  display: flex;
  top: 2%;
  position: relative;
  width: 95%;
  height: 90%;
  margin: 5px auto;
  padding: 10px;
}

#promo-left {
  width: 40%;
  height: 100%;
  /* background-color: yellow; */
  /* border: 1px solid blue; */
  background-image: url('https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29kZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  opacity: 0.8;
  border-radius: 10px 0 0 10px;
}

/* -- Promo-Left Overlay -- */
.overlay-promo-left {
  position: relative;
  color: #fff;
  /* padding: 0% 15%; */
  z-index: 2;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay-promo-left>h3 {
  position: absolute;
  left: 20%;
  top: 17%;
  font-size: 2em;
  text-transform: uppercase;
}

.overlay-promo-left>p {
  position: absolute;
  left: 26%;
  top: 30%;
  font-size: 1.5em;
  font-family: 'Cabin', sans-serif;
}

#promo-right {
  width: 60%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(4, 22, 40), rgb(9, 37, 64));
}

.promo-right-detail {
  display: flex;
  padding: 10px;
  height: 25%;
  width: 95%;
  margin: 2% auto;
  border-bottom: 1px solid rgb(28, 64, 99);
  color: white;
}

.promo-right-detail:last-of-type {
  border-bottom: none;
}

.promo-right-detail-sm {
  width: 25%;
  text-align: center;
  vertical-align: middle;
}

.fa-comments,
.fa-laptop-code,
.fa-database {
  font-size: 4em;
  padding: 20px;
  background-color:  rgb(13, 46, 76);
  border-radius: 5px;
  border: 1px solid  rgb(28, 64, 99);
}

.promo-right-detail-bg {
  position: relative;
  top: -18%;
  width: 75%;
  line-height: 1.5;
}

#promo-right {
  border-radius: 0 10px 10px 0;
}
