@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  min-height: 500vh;
  font-family: 'Montserrat', sans-serif;
}

/* ---- Hero Begins ---- */
#hero {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

#hero::before {
  background: #68A4C4;
  border-radius: 0 0 50% 50%;
  content: "";
  height: 96%;
  left: 50%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  transform: translateX(-50%) translateY(18px) rotate(2deg);
  width: 130%;
  z-index: 0;
}

#hero::after {
  background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6));
  background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHNvZnR3YXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 50% 50%;
  content: "";
  height: 95%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%) rotate(0deg);
  width: 130%;
  z-index: 0;
  opacity: 0.7;
}

.angled-inner>h3,
#top-angled-buffer>h3,
#mid-angled-buffer>h3,
#footer-buffer>h3 {
  border: 1px solid red;
  padding: 6px;
  width: 23%;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%);
  background-color: green;
}


/* ---- Hero Buffer Begins ---- */
#hero-buffer {
  width: 100%;
  height: 100vh;
  text-align: center;
  border: 2px solid blue;
  position: relative;
}

#hero-buffer>h2 {
  width: 100%;
  position: absolute;
  top: 12%;
  left: 0;
  font-size: 2.5em;
}

#hero-buffer>p {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0;
  font-size: 1.5em;
}


/* ---- Angled Class Begins ---- */
.angled-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 30vh 0;
}

.angled-main {
  content: "";
  position: absolute;
  width: 100%;
  text-align: center;
  transform: skewY(-6deg);
}

.angled-inner {
  transform: skewY(6deg);
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 7%;
  color: white;
  border: 2px solid red;
}

#top-angled-wrapper {
  height: 90vh;
}

#top-angled-main {
  height: 130vh;
  background-color: rgb(9, 37, 64);
  top: 7%;
}

#top-angled-inner {
  /* height: 80%; */
}



/* ---- Top Angled Buffer ---- */
#top-angled-buffer {
  position: relative;
  height: 75vh;
  width: 100%;
  text-align: center;
  border: 2px solid blue;
}


#mid-angled-wrapper {
  height: 100vh;
}

#mid-angled-main {
  height: 140vh;
  background-color: rgb(9, 37, 64);
  top: 7%;
}

#mid-angled-inner {
  height: 85%;
}



/* ---- Mid Angled Buffer ---- */
#mid-angled-buffer {
  position: relative;
  background-color: white;
  width: 100%;
  height: 80vh;
  transform: translateY(-23%);
  text-align: center;
  border: 2px solid blue;
  /* margin-top: 5px; */
}


/* ---- Footer Buffer ---- */
#footer-buffer {
  position: relative;
  background-color: white;
  width: 100%;
  height: 55vh;
  text-align: center;
  border: 2px solid blue;
}



#footer-angled-wrapper {
  height: 70vh;
  bottom: -40%;
}

#footer-angled-main {
  height: 120vh;
  background-color: #f6f9fc;
  top: 15%;
}

#footer-angled-inner {
  height: 85%;
}



/* ---- Mini Parallelograms --- */
.mini-para-bg {
  background-color: rgba(129, 233, 255, 0.9);
  width: 310px;
  height: 40px;
  position: absolute;
  transform: skewY(-6deg);
}

.mini-para-sm {
  background-color: rgba(	122, 116, 255, 0.9);
  width: 150px;
  height: 40px;
  position: absolute;
  transform: skewY(-6deg);
}

#mini-para-bg-1 {
  bottom: 8%;
  right: 0;
}

#mini-para-sm-1 {
  bottom: 7%;
  right: 2%;
}

#mini-para-bg-2 {
  top: 9%;
  left: 0;
}

#mini-para-sm-2 {
  top: 8%;
  left: 2%;
}


#mini-para-bg-3 {
  bottom: -23%;
  right: 0;
}

#mini-para-sm-3 {
  bottom: -26%;
  right: 2%;
  z-index: 1;
}


#mini-para-bg-4 {
  top: 17%;
  left: 0;
}

#mini-para-sm-4 {
  top: 15%;
  left: 2%;
}



